@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.font-inria {
  font-family: "Inria Serif", serif;
}
#oval-blur {
  filter: blur(50px);
  color: rgba(203, 208, 221, 0.54);
}
.table-layout-auto {
  table-layout: auto;
}
.form-input {
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
.popover {
  z-index: 1000000;
}
