@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.font-inria {
  font-family: "Inria Serif", serif;
}
#oval-blur {
  filter: blur(50px);
  color: rgba(203, 208, 221, 0.54);
}
.backdrop-blur {
  backdrop-filter: blur(1px);
}
